{% extends "base.html" %}
{% load static %}

{% block content %}
<h1> {{ post.title }}</h1>

<small>{{ post.date_added }}</small>

<strong>{{ post.intro }}</strong>

<p>{{ post.body }}</p>

<hr>
{% if request.user.is_authenticated %}
    {% if request.user == post.user or request.user.is_superuser %}
        <div class="p-2 text-start">
            <a href="{% url 'edit_post' post.id %}" class="btn btn-info">Edit</a>
            <a role="button" class="btn btn-info">Delete</a>
        </div>
    {% endif %}
{% endif %}

<hr>

<h3>Comments</h3>

{% for comment in post.comments.all %}
<article>
    <div class="container">
        <div class="row">
            <p>
                {{ comment.body }}
                <br>
                Posted by <strong>{{ comment.name }}</strong> <small>{{ comment.date_added }}</small>
            </p>
        </div>
    </div>
</article>
{% empty %}
<div class="notification">
    <p>No comments yet!</p>
</div>
{% endfor %}

<hr>

<h3 class="subtitle">Add comment</h3>

<div class="container">
    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <button class="button is-success">Submit</button>
            </div>
        </div>
    </form>
<hr>
    <div>
        <a href="{% url 'community' %}" class="btn btn-info">
            <span class="text-uppercase">Return to Community Page</span>
        </a>
    </div>

</div>
{% endblock %}