@import url('https://fonts.googleapis.com/css2?family=Oswald@700&family=Oxygen+Mono&display=swap');

html {
    height: 100%;
}

.header-font {
    font-family: 'Oswald', sans-serif;
    color: #6EFAFB !important;
    text-decoration: none;
}

.body-font {
    font-family: 'Oxygen Mono', monospace;
    color: black !important;
}

.body-font-alt {
    font-family: 'Oxygen Mono', monospace;
    color: white !important;
}

.border {
    border-color: white;
    border-style: solid;
}

.main-logo-link { 
    width: fit-content;
}

.page-margin {
    margin-top: 200px;
}

.carousel img {
    max-height: 900px;
    margin: 0 auto;
}

.carousel-caption {
    padding-bottom: 7rem;
}

.btn-info {
    background-color:#6EFAFB;
}

.border-black {
    border: 1px solid black !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.socials li a i {
    width: 40px;
    height: 40px;
    font-size: 50px;
    margin: 20px;
    color: #6EFAFB;
}

.btt-button {
    height: 62px;
    width: 62px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

@media (max-width: 991px) {

    
    .carousel-caption{
        position: absolute;
        font-size: 10px;
        padding-bottom: 3rem;
    }
    .carousel-caption a{
        font-size: 10px;
    }
    .header-container {
        padding-top: 164px;
    }
    .socials li a i {
        font-size: 35px;
    }
}